.bg-dark-gray{
  background-color: #1f242d !important;
}

.bg-light-dark{
  background-color: #06090e !important;
}

.bg-black{
  background-color: #000000 !important;
}

.dropdown-toggle::after{
  content: ;
}

/* Header section */
.navbar{
  padding: 18px 20px !important;
}

.header-section span{
  font-size: 14px !important;
}

.header-section span svg{
  font-size: 10px;
  margin-left: 5px;
}

.toggler{
  cursor: pointer;
}

.nav-icon{
  padding: 0 !important;
}
.nav-icon,
.navbar-brand{
  line-height: 0 !important;
}

.navbar-dark .navbar-brand {
  padding: 0;
}

.notfications .dropdown-toggle{
  position: relative;
  padding: 5px;
}
.notfications .dropdown-toggle::before{
  content: url(./images/alert-icon.jpg);
}
.notfications .dropdown-toggle::after{
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  width: 8px;
  height: 8px;
  box-shadow: 0 0 4px 0 #5597fb;
  background-color: #5597fb;
  border-radius: 50%;
  border: 0;
}

.bell-icon path{
  fill: none;
  stroke-width: 29px;
  stroke: white;
}

/* Sidebar style */
.sidebar-container{
  min-width: 202.5px;
  min-height: -webkit-calc(100vh - 60px);
  min-height: calc(100vh - 60px);
}

.sidebar-container .list-group-item{
  padding: .407rem 1.25rem;
  margin: 5px 0;
  border: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.sidebar-container .list-group-item::after {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  height: 100%;
  content: '';
  box-shadow: 0 0 4px 0 #5664fb;
  background-image: -moz-linear-gradient(to bottom, #5597fb, #5664fb);
  background-image: -webkit-linear-gradient(to bottom, #5597fb, #5664fb);
  background-image: linear-gradient(to bottom, #5597fb, #5664fb);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border-radius: 0 3px 3px 0;
}

.sidebar-container .list-group-item.active::after,
.sidebar-container .list-group-item:hover::after{
  opacity: 1;
  visibility: visible;
}

.sidebar-container .list-group-item-action {
  color: #ffffff;
}

.sidebar-container .list-group-item.active,
.sidebar-container .list-group-item-action:focus,
.sidebar-container .list-group-item:hover{
  color: #5597fb !important;
}

.nav-icon{
  position: relative;
}

.active-icon{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-icon,
.sidebar-container .list-group-item.active img:not(.active-icon),
.sidebar-container .list-group-item:hover img:not(.active-icon){
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.sidebar-container .list-group-item.active .active-icon,
.sidebar-container .list-group-item:hover .active-icon{
  opacity: 1;
}

