.bg-dark-gray{
  background-color: #1f242d !important;
}
.bg-light-dark{
  background-color: #06090e !important;
}

.header-section span{
  font-size: 14px !important;
}

.header-section span svg{
  font-size: 10px;
  margin-left: 5px;
}

.toggler{
  cursor: pointer;
}

.nav-icon{
  padding: 0 !important;
}
.nav-icon,
.navbar-brand{
  line-height: 0 !important;
}


.bell-icon{
  position: relative;
}
.bell-icon::after{
  content: "";
  position: absolute;
  right: -2px;
  top: 0;
  width: 8px;
  height: 8px;
  box-shadow: 0 0 4px 0 #5597fb;
  background-color: #5597fb;
  border-radius: 50%;
}
.bell-icon path{
  fill: none;
  stroke-width: 29px;
  stroke: white;
}